<%- contentFor('title') %>
MY PROFILE

<%- contentFor('body') %>
<div id="root">hello</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="/stylesheet/style.css" />

<script type="text/javascript" src="/javascript/build.js"></script>
