<%- contentFor('title') %>
MY PROFILE

<%- contentFor('body') %>
<div id="root">hello</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script type="text/javascript" src="/main.ab5ad968.js"></script>
